/* Mijn score pagina */

.mijnscore-kaart{
    width: 96px; 
    height: 100px; 
    border: none; 
    border-radius: 20%;
}

.scoreborder{
    border-radius: 20px;
    border: none; 
}

.score-punten{
    text-align: right !important;
    padding-right: 20px;
}

.progress{
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.progress-bar{
    background-color: #082668;
}

/* Scorebord pagina */

.scorebord-kaart{
    width: 155px;
    height: 190px;
    border: none;
    border-radius: 20%;
}

.scorebord-titel{
    font-size: 14px;
}

.klassement{
    font-size: 12px;
    text-align: left !important;
}

/* Shop pagina */

.shop-button, .fotowedstrijd-btn{
    border-color: #ffffff61;
    background-color: #082668;
    border-radius: 1rem;
    color: white;
}

.info-shop{
    width: 20px;
    height: 20px;
}

.modal-shop-header{
    background-color: #082668 !important;
    color: white !important;
}

.close-shop{
    filter: brightness(0) invert(1);
}

.modal-body{
    color: #082668 !important;
}

.btn-info-shop{
    border-color: #ffffff61 !important;
    background-color: #082668 !important;
    color: white !important;
    border-radius: 1rem;
}

/* Fotowedstrijd pagina */
.fotowedstrijd-page{
    max-height: 480px;
}

.wedstrijd-titel{
    font-size: 18px;
    font-weight: bold;
    color: #082668 !important;
    text-align: left;
}

.wedstrijd-route{
    font-size: 14px;
    text-align: left;
}

.wedstrijd-foto{
    width: 300px;
    height: 200px;
}

.wedstrijd-p{
    font-size: 14px;
}