/* Mijn score pagina */

.mijnscore-kaart{
    width: 96px; 
    height: 100px; 
    border: none; 
    border-radius: 20%;
}

.scoreborder{
    border-radius: 20px;
    border: none; 
}

.score-punten{
    text-align: right !important;
    padding-right: 20px;
}

.progress{
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.progress-bar{
    background-color: #082668;
}

/* Scorebord pagina */

.scorebord-kaart{
    width: 155px;
    height: 190px;
    border: none;
    border-radius: 20%;
}

.scorebord-titel{
    font-size: 14px;
}

.klassement{
    font-size: 12px;
    text-align: left !important;
}

/* Shop pagina */

.shop-button{
    border-color: #ffffff61;
    background-color: #082668;
    border-radius: 1rem;
}

