.mijngroepen-head-title {
    text-align: left;
}

.groepruimte{
  margin-bottom: 20px;
  margin-top: 20px;
}

.groepborder{
  border-radius: 20px;
}

.meldingengroep{
  color: #3A58FC;
  padding-top: 20px;
  font-weight: bold;
}

.groepbutton{
  margin-top: 57px;
}

.groepinfo{
  font-size: 15px;
  color: #898A8F;
  margin-top: 20px;

}

.bekijkenbutton{
  border-style: solid;
  border-radius: 25px;
  color: #3A58FC;
  border-color: #C7C7C7;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 160px;
  font-weight: bold;
margin-left: auto;
margin-right: auto;
}

.groepaantal{
  text-align: center;
}
.card-groep-title{
  font-size: 20px;
  margin-left: 15px;
}

.groepboven{
  margin-top: 152px;
}
