.mijngroepen-head-title {
    text-align: left;
}

.groepruimte{
  margin-bottom: 20px;
}

.groepborder{
  border-radius: 20px;
}

.meldingengroep{
  color: #3A58FC;
  padding-top: 20px;
}

.groepinfo{
  font-size: 20px;
}

.bekijkenbutton{
  border-style: solid;
  border-radius: 25px;
  color: #3A58FC;
  border-color: #C7C7C7;
}
