.fotorollen-head-title {
    text-align: left;
}
.card-fotorollen-title {
    text-align: center;
}

.fotorollen-nummer {
    text-align: center;
}

.recente-foto {
    padding: 5px;
}

.fotorollen-page-buttons {
    width: 100%;
    margin: 1px;
}

.foto-page-button {
    font-size: 12px;
    border-radius: 0.8rem;
    margin-bottom: 5px;
    margin-left: 20px;
    background-color: white;
    border-color: #fff;
    width: 150px;
}

.foto-page-button.active {
    border-color: #343a40;
}

.col.fotopage-buttons {
  max-width: 33%;
}

.heart {
    width: 20%;
}
