.fotorollen-head-title {
    text-align: left;
}
.card-fotorollen-title {
    text-align: center;
}

.fotorollen-nummer {
    text-align: center;
}

.recente-foto {
    padding: 5px;
}

.fotorollen-page-buttons {
    width: 100%;
    margin: 1px;
}