body
{
    background-color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

.app-breaks {
  margin-top: 105px;
  margin-bottom: 90px;
}

/* Navbar section */

.navbar.navbar-home {
    background: white;
    height: 87px;
    text-align: center;
    border-radius: 18px 18px 0px 0px;
}

.navbar.navbar-home img {
    height: 27px;
    padding-left: 10px;
    padding-right: 10px;
}
/* End navbar selection  */

.navbar-top-home {
  background-color: #092B75;
  border-radius: 0 0 18px 18px;
  padding: 30px 0 30px 0;
  color: white;
}

.navbar-top-route {
  background-color: #092B75;
  border-radius: 0 0 18px 18px;
  padding: 0px 0 0px 0;
  color: white;
}

.container.navtop {
  display: block;
}

/* .col-auto.left {
  padding-right: 128px;
} */

/* Homepage selection  */
.jumbotron.homepage {
    background-color: #092B75;
    color: white;
    border-radius: 30px;
    padding: 1rem 1rem;
    width: 100%;
}
.jumbotron.route {
    background-color: #092B75;
    color: white;
    border-radius: 30px;
    padding: 0rem 1rem;
    width: 100%;
    margin-bottom: 1.1rem;
}
.jumbo-img-top {
    height: 25px;
    filter: brightness(0) invert(1);
    font-size: 20px;
}

.jumbo-icons {
    color: white;
    font-size: 24px;
}

.col.icons-right-align {
  text-align: right;
}

.profile-picture {
    height: 80px;
    border-radius: 33%;
}

.progress-home {
    background-color: #082668 !important;
    margin-left: 15px;
    margin-right: 15px;
}
.progress-bar-home {
    background-color: #FFFFFF !important;
    color: black !important;
}

.speur-button {
    border-radius: 1rem;
}

.route-page-button {
    font-size: 12px;
    border-radius: 0.8rem;
    margin-bottom: 20px;
    background-color: white;
    border-color: #fff;
}

.route-page-button.active {
    border-color: #343a40;
}

.col.routes-buttons {
  max-width: 33%;
}

.speur-button.btn-outline-light
{
    border-color: #ffffff61;
}


.col.card-button {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    text-align: center;
}

.col.card-button .card {
    border: 0px;
    border-radius: 15px;
}

.col.card-button img {
    height: 58px;
    width: auto;
    margin: 10px 0px 14px 0;
}

.container.home {
  margin-bottom: 100px;
}

/* End homepagina selection */

/* Notificatie badges */

.item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    right:-20px;
    top:10px;
    text-align: center;
    /* border-radius: 30px 30px 30px 30px; */
    color:white;
    padding:5px 10px;
    font-size:20px;
}

.linkje {
  color: black;
}
/* Einde notificatie badges */


/* Map google api */

  #map {
    height: 100%;
  }

  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
